<div class="d-flex">
  <div class="col-sm-2">
    <p *ngIf="isLoggedIn && isAdmin" routerLink="/categories" class="alert alert-info" style="cursor: pointer">
      Categories</p>
    <p *ngIf="isLoggedIn && isAdmin" routerLink="/admin-users" class="alert alert-info" style="cursor: pointer">
      Users</p>
    <p *ngIf="isLoggedIn" class="alert alert-danger" style="cursor: pointer" (click)="logout()">Logout</p>

  </div>
  <div class="col-sm-10 px-4">
    <app-confirm-modal *ngIf="modalData" [title]="modalData.title" [message]="modalData.message"
      (confirm)="handleResponse($event)">
    </app-confirm-modal>
    <router-outlet></router-outlet>
  </div>
</div>